*, body,html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}
:root {
    --bg: #050505;
    --font: rgb(231, 229, 229);
}
body {
    background-color: var(--bg);
    
}
html {
    scroll-behavior: smooth;
}
/* Navbar Start */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .2rem 7%;  
    z-index: 100000;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
}
.logo {
    font-size: 1.4rem;
    font-weight: 800;
    color: gray;
    font-style: italic;
}
.logo span {
    color: orangered;
}
.navbar-nav a {
    margin: 1rem;
    color: var(--font);
    font-weight: 500;
    font-size: .9rem;
    display: inline-block;
}
.navbar-nav a:hover {
    color: orangered;
    transition: all .4s ease-in-out;
}
.navbar-nav a::after {
    content: '';
    display: block;
    padding-bottom: .5rem;
    border-bottom: .1rem solid orangered;
    transform: scaleX(0);
    transition: .3s;
}
.navbar-nav a:hover::after {
    transform: scaleX(.5);
}
#search {
    font-size: 1rem;
    color: white;
    margin-right: 18px;
}
#bell {
    font-size: 1rem;
    color: white;
    margin-right: 10px;
}
#menu {
    font-size: 1.4rem;
    color: white;
    margin-right: 16px;
    display: none;
}

/* Navbar End */

/* Hiro Start */
.hiro-wrapper {
    background-image: url(Hiro\ Section.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    align-items: center;
    display: flex;
    height: 100vh;
    z-index: 5;
}
.hiro-wrapper::after{
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 20%;
    bottom: 0;
    background: linear-gradient(0deg, rgb(0, 0, 0) 10%, rgba(252, 252, 252, 0) 50%);
}
.hiro-title {
    padding: 1.4rem 7%;
    max-width: 750px;
}
.hiro-title h1{
    color: white;
    text-transform: capitalize;
    font-size: 2.5rem;
    padding-bottom: .5rem; 
}
.hiro-title p {
    color: white;
    font-weight: 200;
    padding-bottom: 25px;
}
.btn-cta {
    color: white;
    background-color: orangered;
    padding: 7px 15px;
    border-radius: 25px;
    font-size: 1.4rem;
}
/* Hiro End */

/* Menu Start */
.wrapper-menu {
    padding: 4rem 7%;
}
.wrapper-menu h1 {
    color: orangered;
    text-align: center;
}
.wrapper-menu h1 span {
    color: gray;
}
.wrapper-menu p {
    color: white;
    font-weight: 100;
    text-align: center;
    line-height: 1.6;
    margin: auto;
    max-width: 500px;
    margin-bottom: 40px;
}
.pWrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 900px;
}
.card-menu {
    display: block;
    background-color: rgb(22, 22, 22);
    max-width: 250px;
    text-align: center;
    border-radius: 16px;
    box-shadow: 3px 5px 20px 3px rgb(3, 3, 3);
    margin-top: 50px;
    margin: 1rem;
}
.img-menu {
    height: 150px;
}
.title-menu h1{
    font-size: 1.2rem;
}
.title-menu p {
    font-size: .7rem;
    color: rgb(134, 134, 134);
    font-weight: 500;
    max-width: 600px;
    
}
#cart {
    background-color: orangered;
    color: white;
    padding: 3px 20px;
    border-radius: 16px;
    
    line-height: 3;
}
/* Menu End */

/* About Start */
.aboutContainer {
    background-color: orangered;
    height: 300px;
    margin-top: 1rem;
}
.title-about h1 {
    color: rgb(255, 245, 245);
    text-align: center;
    font-size: 1.4rem;
    flex-wrap: wrap;
    
}
.container-about {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.about-wrapper {
   display: flex;
   justify-content: center;
   
   
   
}
.about-content {
    margin: 20px;
    background-color: rgb(24, 23, 23);
    max-width: 300px;
    text-align: center;
    padding: 2rem;
    box-shadow: 3px 5px 15px 5px #000000;
    border-radius: 16px;
}
.about-content a {
    font-size: 2rem;
    color: white;
}
.about-content h1 {
    font-size: 1rem;
    color: white;
}
.about-content p {
    font-weight: 200;
    font-size: .7rem;
    color: white;
}
/* About End */
/* Contact Start */
.contact {
    text-align: center;
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    
}
.contact p {
    
    color: white;
    text-align: center;
    font-weight: 100;
    margin: auto;
    line-height: 1.6;
    max-width: 500px;
    margin-bottom: 40px;
}   
.contact h2 {
    color: white;
    margin-bottom: 20px;
}

.contact h2 span {
    color: gray;
}
.wrap-contact {
    display: flex;
    justify-content: center;
}
.contact-map {
    display: flex;
    margin-top: 2rem;
    background-color: #222;
    height: 20rem;
    width: 60rem;
    
    
}
.map {
    width: 50%;
    height: 100%;

}
.form {
    align-items: center;
    margin-top: 70px;
    flex-wrap: wrap;
}
.input-grup1 {
    margin-left: 10px;
    padding-bottom: 20px;
    flex-wrap: wrap;
    align-items: center;
}
.input-grup2 {
    margin-left:10px;
    padding-bottom: 20px;
    align-items: center;
}
.input-grup3 {
    margin-left: 10px;
    padding-bottom: 20px;
    align-items: center;
}
#mail {
    font-size: 1.2rem;
    color: white;
    
}
#phone {
    font-size: 1.2rem;
    color: white;
    
}
#user-name {
    font-size: 1.2rem;
    color: white;
}
#box-nama {
    width: 400px;
    background-color: black;
    height: 50px;
    
    border: 1px solid rgb(145, 145, 145);
}
#box-mail {
    width: 400px;
    background-color: black;
    height: 50px;
    
    border: 1px solid rgb(145, 145, 145);
}
#box-number {
    width: 400px;
    background-color: black;
    height: 50px;
    border: 1px solid rgb(145, 145, 145);
    
}
#btn-sendMessage {
    background-color: rgb(0, 158, 0);
    color: white;
    padding: 7px 10px;
    font-weight: 400;
}
/* Contact End */

/* Footer Start */
footer {
    background-color: orangered;
    text-align: center;
    padding: 1rem 0 2rem;
    margin-top: 3rem;
}
.social a{
    padding: 1rem 0;
    color: #fff;
    margin: 1rem;
    
}
.social a:hover {
    color: var(--bg);
    transition: all .3s ease-in-out;
}
.links {
    margin-bottom: .7rem;
    margin-top: .7rem;
}
.links a {
    color: #fff;
    padding: .7rem 1rem;
    font-size: .9rem;
}
.links a:hover {
    color: var(--bg);
    transition: all .3s ease-in-out;
}
.credit a {
    color: var(--bg);
    font-weight: 400;
}
.credit p {
    color: #fff;
    font-size: .8rem;
}
/* Footer End */
/* Media Queries Start */
    /* MOBILE   */
    @media screen and (min-width: 300px) and (max-width: 550px) {
    html {
        font-size: 70%;
    }
    
    body {
        flex-wrap: wrap;
    }
    .hero {
        flex-wrap: wrap;
    }
    /* Navbar Start */
  
    .navbar-nav.active {
        right: 0;
        top: 0;
    }
    .navbar-nav a {
        display: block;
        margin: 1.5rem;
        padding: .5rem;
        font-size: 1.5rem;
    }
    .navbar-nav a::after {
        transform-origin: 0 0;
    }
    .navbar-nav a:hover:after {
        transform: scaleX(.2);
    }
    .logo {
        font-size: 1.2rem;
        padding-bottom: 20px;
    }
    .navbar-nav {
        position: absolute;
        top: 100%;
        right: -100%;
        background-color: gray;
        width: 20rem;
        height: 100vh;
        transition: .3s;
    }
    #menu {
        display: inline-block;
        font-size: 1.4rem;
        
    }
    #bell {
        display: inline;
        font-size: 1.4rem;
        margin-right: 0;
    }
    #search {
        display: inline;
        font-size: 1.4rem;
        margin-right: 0;
    }
    /* Navbar ENd */

    /* Hiro Start */
    .hiro-wrapper {
        background-image: url(Hiro\ Section.png);
        background-position: center;
        background-size:contain;
        height: 50vh;
        max-width: 400px;
    }
    .hiro-wrapper::after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 10%;
        bottom: 20;
        background: linear-gradient(0deg, rgb(10, 10, 10) 0%, rgba(252, 252, 252, 0) 00%);
    }
    .hiro-title h1{
        font-size: 1.2rem;
    }
    .hiro-title p {
        font-size: .8rem;
        max-width: 200px;
        font-weight: 300;
        padding-bottom: 10px;
    }
    .hiro-title a {
        font-size: 1rem;
    }

    /* Hiro End */

    /* Menu Start */
    .wrapper-menu p {
        line-height: ;
    }
    .img-menu {
        height: 70px;
    }
    .pWrapper {
        
        display: flex;
    }
    .card-menu {
        max-width: 200px;
        max-height: 400px;
    }
    .title-menu h1 {
        font-size: 1.2rem;
    }
    .title-menu p {
        max-width: 200px;
    }
    #cart {
        line-height: 3;
        
    }
    /* Menu End */
    /* About start */
    .aboutContainer {
        height: 600px;
    }
    .about-content {
        max-width: 220px;
        height: 150px;
        margin-left: 70px;
    }

    .about-content h1 {
        font-size: 1rem;
    }
    .about-content p {
        font-size: .8rem;
    }
    .about-wrapper {
        display: block;
        justify-content: center;
    }
    /* About end */
    /* Contact Start */
    .contact-map {
        display: block;
        width: 30rem;
    }
    .map {
        width: 100%;
    }
    .input-grup1 {
        margin-left: 0;
    }
    .input-grup2 {
        margin-left: 0;
    }
    .input-grup3 {
        margin-left: 0;
    }
    #box-nama {
        width: 300px;
        border: 1px solid white;
    }
    #box-mail {
        width: 300px;
        border: 1px solid white;
    }
    #box-number {
        width: 300px;
        border: 1px solid white;
    }
    /* Contact End */
    
    /* Credit Start */
    footer {
        margin-top: 350px;
    }
    /* Credit End */
}


/* Tablet */

@media screen and (min-width: 800px) and (max-width: 890px) {
        html {
            font-size: 80%;
        }
        body {
            flex-wrap: wrap;
        }
        .hero {
            flex-wrap: wrap;
        }
    /* Hiro Start */
        .hiro-wrapper {
            height: 40vh;
            max-width: 832px;
        }
        .hiro-wrapper::after{
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            height: 30%;
            margin-bottom: 650px;
            background: linear-gradient(0deg, rgb(0, 0, 0) 10%, rgba(252, 252, 252, 0) 50%);
        }
        .hiro-title {
            max-width: 450px;
        }
    /* Hiro End */
        /* Contact Start */
        .contact-map {
            display: flex;
        }
   
        .form {
            margin-top: 20px;
        }
        #box-nama {
            width: 350px;
            border: 1px solid white;
        }
        #box-mail {
            width: 350px;
            border: 1px solid white;
        }
        #box-number {
            width: 350px;
            border: 1px solid white;
        }
        .aboutContainer {
            height: 250px;
        }
    }
        /* Contact End */

        /* Tablet */
 @media screen and (min-width: 700px) and (max-width: 780px) {
        html {
            font-size: 80%;
        }
        body {
            flex-wrap: wrap;
        }
        .hero {
            flex-wrap: wrap;
        }
    /* Hiro Start */
    .hiro-wrapper {
        height: 50vh;
        max-width: 780px;
    }
    .hiro-wrapper::after{
        content: '';
        display: block;
        position: absolute;
        width: 100%;
        height: 20%;
        margin-bottom: 435px;
        background: linear-gradient(0deg, rgb(0, 0, 0) 10%, rgba(252, 252, 252, 0) 50%);
    }
    .hiro-title {
        max-width: 450px;
    }
/* Hiro End */
    /* Contact Start */
    .contact-map {
        display: flex;
    }

    .form {
        margin-top: 20px;
    }
    #box-nama {
        width: 350px;
        border: 1px solid white;
    }
    #box-mail {
        width: 350px;
        border: 1px solid white;
    }
    #box-number {
        width: 350px;
        border: 1px solid white;
    }
    .aboutContainer {
        height: 250px;
    }
    /* Contact End */
 }




/* Media Queries End */